*{
    padding:0;
    margin:0;
}
#Web{
    width:840px;
    margin:0 auto;
}
#wrap{
    width:840px;
    margin:0 auto;
    padding:0 auto;
}
#wrap .table_line {
    border-collapse: collapse;
    width: 840px;
}
#wrap .table_line th, #wrap .table_line td {
    width:120px;
    height:50px;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
#calendar-container {
    margin-bottom: 20px;
}
#navigation {
    width:100%;
    height:auto;
    text-align: center;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
#prev-month, #next-month,
#prev-year, #next-year {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin: 0 10px;
}
.today_move{
    display: flex;
    white-space: nowrap;
    width:85px;
    height:20px;
    margin: 0 auto;
    cursor: pointer;
}
.table_line tr td{
    text-align-last: end;
    vertical-align: top;
}
.prev_Date, .next_Date{
    color:#bbbbbb;
}